*.dylib
*.dll
*.so

*cronet*
/bin/*
!/bin/.gitkeep
.build
.idea
cert
data
**/*.log
.DS_Store

**/*.syso
node_modules
*.db
*.json
!hiddify-sing-box/protocol/hiddify/dnstt/resolvers_by_country.json
!hiddify-sing-box/replace/tailscale/net/dnsfallback/dns-fallback-servers.json
